<div class="row-fluid">
  <div class="span4">
    <a class="btn btn-danger" href="<%= hackers_path %>">Back to the Hackers</a><br><br>
    <%= render partial: 'form' %>
  </div>

  <div class="span6">
    <br><br><br>
    <img src="/assets/crowdfunding_img.jpg"></p>
    <br><br>
    <img src="/assets/crowdfunder_img.jpg"></p>
  </div>
</div>
