<table>
  <thead></thead>
  <tbody>
    <% @hackers.each_slice(5).each do |hackers| %>
     <tr>
      <% hackers.each do |hacker| %>
        <td class="hacker">
          <%= link_to image_tag(hacker.background, :size => "250x250"), hacker %>
          <div class="hacker-popup" style="display: none;">
            <div class="hacker_name">
              <%= "#{hacker.first_name} #{hacker.last_name}" %>
            </div>
          </div>
        </td>
      <% end %>
     </tr>
    <% end %>
  </tbody>
</table>

