<div id="project-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="<%= @hacker.project.screenshot %>" alt="" />
      <div class="carousel-caption">
        <h1><%= @hacker.project.name %></h1>
        <p><%= @hacker.project.description %></p>
        <p><%= @hacker.project.url %></p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#project-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#project-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->


<script>
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 5000
    });
  });
</script>