<div class="span12">
  <div class="form">
    <h1 class="payment-title">Become a patron</h1>
    <p class="payment-text">The Hacker Farm is not just a community of creatives but also a platform to sponsor growth...and for that we need YOU. Make a small contribution and fuel this Hacker's self-sustainable creativity.</p>
    <%= render partial: 'form' %>
    <p class="payment-text">* A donation of 10GBP will be made to this hacker. Donations are funnelled through a common administrated fund.</p>
  </div>
</div>
