<br><br><br><br>

<div class="span10 offset1">
  <h1 id="feed-hacker-about"><center>Why would you feed a hacker?</center></h1>
  <br>
  <h2 id="feed-hacker-text">
    <p>Because hackers have given you the Internet.<br>Because hackers have freed oppressed regions around the world. <br>Because hackers have ignited an entrepreneurial revolution in times of crisis. <br>Because hackers are the engine of tomorrow.</p><br>
    <p>Feed a Hacker is a crowd-donator focused on maintaining hacker's Red Bull and Coke supplies in check through small public contributions.</p>
    <br>
    <p><center><a class="btn btn-large btn-danger" href="<%= hackers_path %>">Meet the Hackers</a></center></p>
  </h2>
</div>