
  <div class="logo">
    <img src="/assets/hacker_farm_logo.png">
  </div>

  <div class="mission">
    <p>Welcome to a place where the creatives grow and the world harvests.</p>
    <center><a class="btn btn-danger" href="<%= new_hacker_path %>">Create a Profile</a>
    <a class="btn btn-danger" href="<%= hackers_path %>">Explore the Farm</a></center>
  </div>

