<div class="span5 offset1">
  <img class="logo-img" src="/assets/hacker_farm_logo.png" width="395" height="550">
</div>
<div class="span6">
  <div class="mission">
    <div class="mission-inner">
      <p><span class="mission-text">Welcome to a place where creatives grow and the rest of the world harvests.</span></p>
      <p>
        <a class="btn btn-danger" href="<%= new_hacker_path %>">Create a Profile</a>
        <a class="btn btn-danger" href="<%= hackers_path %>">Explore the Farm</a>
        <p><a class="btn btn-success" href="<%= login_path %>">Log in</a></p>
      </p>
    </div>
  </div>
</div>
