<br><br><br><br><br><br><br><br><br><br>

<div class="span10 offset1">
  <h1 id="feed-hacker-front"><center>Feed a Hacker</center></h1>
  <br><br>
  <p><center><a class="btn btn-large btn-danger" href="<%= about_path %>">Now</a></center></p>
</div>