<br><br><br><br><br><br>

<div class="span10 offset1">
  <h1 id="feed-hacker-log"><center>Thank you for logging in</center></h1>
  <br><br>
  <p><center><a class="btn btn-large btn-danger" href="<%= edit_hacker_path(current_hacker) %>">See your profile</a></center></p>
</div>