<br><br><br><br><br><br>

<div class="span10 offset1">
  <h1 id="feed-hacker-log"><center>Thank you for logging in</center></h1>
  <br><br>
  <center>
  <p><a class="btn btn-large btn-danger" href="<%= edit_hacker_path(current_hacker) %>">Edit profile</a>
  <a class="btn btn-large btn-success" href="<%= edit_hacker_path(current_hacker) %>">See donations</a></p>
  </center>
</div>