<br><br><br><br><br><br>

<div class="span10 offset1">
  <h1 id="feed-hacker-log"><center>Thank you for logging in!</center></h1>
  <br><br>
  <center>
  <p><a class="btn btn-large btn-danger" href="<%= hacker_path(current_hacker) %>">See your profile</a>
  </center>
</div>