<br><br><br><br><br><br>

<div class="span12">
  <h1 id="feed-hacker-log"><center>Thank you for your contribution.</center></h1>
  <br><br>
  <p><center><a href="http://www.youtube.com/watch?v=xgEOEzpSS40"><img src="/assets/chuck_img.png" width="100" height="100"></a></center></p>
  <br><br>
  <h2><center><a class="btn btn-large btn-success" href="<%= hackers_path %>">Make another donation</a></center></h2>
</div>