<br><br><br><br><br><br>

<div class="span10 offset1">
  <h1 id="feed-hacker-log"><center>Thank you for your donation.</center></h1>
  <br><br>
  <p><center><a class="btn btn-large btn-danger" href="<%= hackers_path %>">Help another Hacker</a></center></p>
</div>